In [41]:
from google.colab import drive

In [42]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [43]:
%cd /content/drive/MyDrive/Colab_me

/content/drive/MyDrive/Colab_me

In [44]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import os
import warnings
import joblib

warnings.filterwarnings("ignore")
sns.set_style()
plt.style.use('seaborn')

In [45]:
df_ST = pd.read_csv('/content/drive/MyDrive/DS105/dataset/dataset_predict/df_ST.csv')
df_CM = pd.read_csv('/content/drive/MyDrive/DS105/dataset/dataset_predict/df_CM.csv')
df_CB = pd.read_csv('/content/drive/MyDrive/DS105/dataset/dataset_predict/df_CB.csv')
df_GK = pd.read_csv('/content/drive/MyDrive/DS105/dataset/dataset_predict/df_GK.csv')

## Predict function

In [46]:
# model_name, kargs thuộc tính ứng với từng nhóm vị trí
def recommend_ST (model_name, **kargs):
  # load model
  if model_name == 'kmeans':
    model = joblib.load('/content/drive/MyDrive/DS105/source/model/model_ST_K-means-4.sav')
  elif model_name == 'hierarchical': 
    model = joblib.load('/content/drive/MyDrive/DS105/source/model/model_ST_Hierarchical-5.sav')
    model_svm = joblib.load('/content/drive/MyDrive/DS105/source/model/model_SVM_ST.sav')

  # Khởi tạo (Nếu không có tham số thì recommend cầu thủ xịn nhất)
  StandingTackle = 72.0
  ShotPower = 94.0
  Jumping = 95.0
  Stamina = 92.0
  Strength = 97.0
  SprintSpeed = 97.0
  Agility = 96.0
  Reactions = 81.0
  Balance = 95.0 
  Dribbling = 86.0
  Curve = 94.0
  FKAccuracy = 94.0
  LongPassing = 91.0
  Crossing = 88.0
  Volleys = 90.0

  # Lấy giá trị 
  for id in kargs:
    if id == 'StandingTackle': 
        StandingTackle = kargs.get('StandingTackle')
    if id == 'ShotPower': 
        ShotPower = kargs.get('ShotPower')
    if id == 'Jumping': 
        Jumping = kargs.get('Jumping')
    if id == 'Stamina': 
        Stamina = kargs.get('Stamina')
    if id == 'Strength': 
        Strength = kargs.get('Strength')
    if id == 'SprintSpeed': 
        SprintSpeed = kargs.get('SprintSpeed')
    if id == 'Agility': 
        Agility = kargs.get('Agility')
    if id == 'Reactions': 
        Reactions = kargs.get('Reactions')
    if id == 'Balance': 
        Balance = kargs.get('Balance')
    if id == 'Dribbling': 
        Dribbling = kargs.get('Dribbling')
    if id == 'Curve': 
        Curve = kargs.get('Curve')
    if id == 'FKAccuracy': 
        FKAccuracy = kargs.get('FKAccuracy')
    if id == 'LongPassing': 
        LongPassing = kargs.get('LongPassing')
    if id == 'Crossing': 
        Crossing = kargs.get('Crossing')
    if id == 'Volleys': 
        Volleys = kargs.get('Volleys')

  # Chuyển các giá trị về dạng array phù hợp với input đầu vào
  array_value = np.array([[StandingTackle, ShotPower,	Jumping, Stamina, Strength, SprintSpeed, Agility, Reactions, Balance, Dribbling, Curve, FKAccuracy, LongPassing, Crossing, Volleys]])
  if model_name == 'kmeans': 
    pred = model.predict(array_value)
    return df_ST[df_ST['cluster_KMeans']==pred[0]].sample(10)
  elif model_name == 'hierarchical': 
    pred = model_svm.predict(array_value)
    return df_ST[df_ST['cluster_Hierarchical']==pred[0]].sample(10)

In [47]:
def recommend_CM (model_name, **kargs):
  # load model
  if model_name == 'kmeans':
    model = joblib.load('/content/drive/MyDrive/DS105/source/model/model_CM_K-means-4.sav')
  elif model_name == 'hierarchical': 
    model = joblib.load('/content/drive/MyDrive/DS105/source/model/model_CM_Hierarchical-6.sav')
    model_svm = joblib.load('/content/drive/MyDrive/DS105/source/model/model_SVM_CM.sav')

  # Khởi tạo (Nếu không có tham số thì recommend cầu thủ xịn nhất)
  SlidingTackle = 87.0
  Aggression = 95.0
  Penalties = 92.0
  SprintSpeed = 96.0
  Agility = 95.0
  Reactions = 81.0
  Balance = 96.0
  Dribbling = 86.0
  FKAccuracy = 92.0 
  LongPassing = 93.0
  Crossing = 94.0
  Finishing = 88.0
  Volleys = 90.0

  # Lấy giá trị 
  for id in kargs:
    if id == 'SlidingTackle': 
        SlidingTackle = kargs.get('SlidingTackle')
    if id == 'Aggression': 
        Aggression = kargs.get('Aggression')
    if id == 'Penalties': 
        Penalties = kargs.get('Penalties')
    if id == 'SprintSpeed': 
        SprintSpeed = kargs.get('SprintSpeed')
    if id == 'Agility': 
        Agility = kargs.get('Agility')
    if id == 'Reactions': 
        Reactions = kargs.get('Reactions')
    if id == 'Balance': 
        Balance = kargs.get('Balance')
    if id == 'Dribbling': 
        Dribbling = kargs.get('Dribbling')
    if id == 'FKAccuracy': 
        FKAccuracy = kargs.get('FKAccuracy')
    if id == 'LongPassing': 
        LongPassing = kargs.get('LongPassing')
    if id == 'Crossing': 
        Crossing = kargs.get('Crossing')
    if id == 'Finishing': 
        Finishing = kargs.get('Finishing')
    if id == 'Volleys': 
        Volleys = kargs.get('Volleys')

  # Chuyển các giá trị về dạng array phù hợp với input đầu vào
  array_value = np.array([[	SlidingTackle,	Aggression,	Penalties,	SprintSpeed,	Agility,	Reactions,	Balance	,Dribbling,	FKAccuracy,	LongPassing,	Crossing,	Finishing	,Volleys]])
  
  if model_name == 'kmeans': 
    pred = model.predict(array_value)
    return df_CM[df_CM['cluster_KMeans']==pred[0]].sample(10)
  elif model_name == 'hierarchical': 
    pred = model_svm.predict(array_value)
    return df_CM[df_CM['cluster_Hierarchical']==pred[0]].sample(10)

In [48]:
def recommend_CB (model_name, **kargs):
  # load model
  if model_name == 'kmeans':
    model = joblib.load('/content/drive/MyDrive/DS105/source/model/model_CB_K-means-3.sav')
  elif model_name == 'hierarchical': 
    model = joblib.load('/content/drive/MyDrive/DS105/source/model/model_CB_Hierarchical-4.sav')
    model_svm = joblib.load('/content/drive/MyDrive/DS105/source/model/model_SVM_CB.sav')

  # Khởi tạo (Nếu không có tham số thì recommend cầu thủ xịn nhất)
  StandingTackle = 92.0
  Aggression = 95.0
  Positioning = 86.0
  Vision = 87.0
  Penalties = 92.0
  Composure = 84.0

  # Lấy giá trị 
  for id in kargs:
    if id == 'StandingTackle': 
        StandingTackle = kargs.get('StandingTackle')
    if id == 'Aggression': 
        Aggression = kargs.get('Aggression')
    if id == 'Positioning': 
        Positioning = kargs.get('Positioning')
    if id == 'Vision': 
        Vision = kargs.get('Vision')
    if id == 'Penalties': 
        Penalties = kargs.get('Penalties')
    if id == 'Composure': 
        Composure = kargs.get('Composure')

  # Chuyển các giá trị về dạng array phù hợp với input đầu vào
  array_value = np.array([[StandingTackle,	Aggression,	Positioning,	Vision,	Penalties, Composure]])
  
  if model_name == 'kmeans': 
    pred = model.predict(array_value)
    return df_CB[df_CB['cluster_KMeans']==pred[0]].sample(10)
  elif model_name == 'hierarchical': 
    pred = model_svm.predict(array_value)
    return df_CB[df_CB['cluster_Hierarchical']==pred[0]].sample(10)

In [49]:
def recommend_GK (model_name, **kargs):
  # load model
  if model_name == 'kmeans':
    model = joblib.load('/content/drive/MyDrive/DS105/source/model/model_GK_K-means-3.sav')
  elif model_name == 'hierarchical': 
    model = joblib.load('/content/drive/MyDrive/DS105/source/model/model_GK_Hierarchical-2.sav')
    model_svm = joblib.load('/content/drive/MyDrive/DS105/source/model/model_SVM_GK.sav')

  # Khởi tạo (Nếu không có tham số thì recommend cầu thủ xịn nhất)
  GKReflexes = 90.0
  ShotPower = 70.0
  Jumping = 84.0
  Stamina = 45.0
  Strength = 85.0
  LongShots = 45.0

  # Lấy giá trị 
  for id in kargs:
    if id == 'GKReflexes': 
        GKReflexes = kargs.get('GKReflexes')
    if id == 'ShotPower': 
        ShotPower = kargs.get('ShotPower')
    if id == 'Jumping': 
        Jumping = kargs.get('Jumping')
    if id == 'Stamina': 
        Stamina = kargs.get('Stamina')
    if id == 'Strength': 
        Strength = kargs.get('Strength')
    if id == 'LongShots': 
        LongShots = kargs.get('LongShots')

  # Chuyển các giá trị về dạng array phù hợp với input đầu vào
  array_value = np.array([[GKReflexes,	ShotPower,	Jumping,	Stamina,	Strength,	LongShots]])
  
  if model_name == 'kmeans': 
    pred = model.predict(array_value)
    return df_GK[df_GK['cluster_KMeans']==pred[0]].sample(10)
  elif model_name == 'hierarchical': 
    pred = model_svm.predict(array_value)
    return df_GK[df_GK['cluster_Hierarchical']==pred[0]].sample(10)

# Test function

# Các khoảng giá trị của features

ST

In [50]:
# 14
print(('StandingTackle',df_ST['StandingTackle'].min(), df_ST['StandingTackle'].max()))
print(('ShotPower',df_ST['ShotPower'].min(), df_ST['ShotPower'].max()))
print(('Jumping',df_ST['Jumping'].min(), df_ST['Jumping'].max()))
print(('Stamina',df_ST['Stamina'].min(), df_ST['Stamina'].max()))
print(('Strength',df_ST['Strength'].min(), df_ST['Strength'].max()))
print(('SprintSpeed',df_ST['SprintSpeed'].min(), df_ST['SprintSpeed'].max()))
print(('Agility',df_ST['Agility'].min(), df_ST['Agility'].max()))
print(('Reactions',df_ST['Reactions'].min(), df_ST['Reactions'].max()))
print(('Balance',df_ST['Balance'].min(), df_ST['Balance'].max()))
print(('Dribbling',df_ST['Dribbling'].min(), df_ST['Dribbling'].max()))
print(('Curve',df_ST['Curve'].min(), df_ST['Curve'].max()))
print(('FKAccuracy',df_ST['FKAccuracy'].min(), df_ST['FKAccuracy'].max()))
print(('LongPassing',df_ST['LongPassing'].min(), df_ST['LongPassing'].max()))
print(('Crossing',df_ST['Crossing'].min(), df_ST['Crossing'].max()))
print(('Volleys',df_ST['Volleys'].min(), df_ST['Volleys'].max()))

('StandingTackle', 10.0, 72.0)
('ShotPower', 38.0, 94.0)
('Jumping', 33.0, 95.0)
('Stamina', 30.0, 92.0)
('Strength', 34.0, 97.0)
('SprintSpeed', 32.0, 97.0)
('Agility', 30.0, 96.0)
('Reactions', 45.0, 81.0)
('Balance', 32.0, 95.0)
('Dribbling', 40.0, 86.0)
('Curve', 21.0, 94.0)
('FKAccuracy', 21.0, 94.0)
('LongPassing', 19.0, 91.0)
('Crossing', 20.0, 88.0)
('Volleys', 30.0, 90.0)

CM

In [51]:
# 13
print(('SlidingTackle',df_CM['SlidingTackle'].min(), df_CM['SlidingTackle'].max()))
print(('Aggression',df_CM['Aggression'].min(), df_CM['Aggression'].max()))
print(('Penalties',df_CM['Penalties'].min(), df_CM['Penalties'].max()))
print(('SprintSpeed',df_CM['SprintSpeed'].min(), df_CM['SprintSpeed'].max()))
print(('Agility',df_CM['Agility'].min(), df_CM['Agility'].max()))
print(('Reactions',df_CM['Reactions'].min(), df_CM['Reactions'].max()))
print(('Balance',df_CM['Balance'].min(), df_CM['Balance'].max()))
print(('Dribbling',df_CM['Dribbling'].min(), df_CM['Dribbling'].max()))
print(('FKAccuracy',df_CM['FKAccuracy'].min(), df_CM['FKAccuracy'].max()))
print(('LongPassing',df_CM['LongPassing'].min(), df_CM['LongPassing'].max()))
print(('Crossing',df_CM['Crossing'].min(), df_CM['Crossing'].max()))
print(('Finishing',df_CM['Finishing'].min(), df_CM['Finishing'].max()))
print(('Volleys',df_CM['Volleys'].min(), df_CM['Volleys'].max()))

('SlidingTackle', 10.0, 87.0)
('Aggression', 20.0, 95.0)
('Penalties', 20.0, 92.0)
('SprintSpeed', 32.0, 96.0)
('Agility', 30.0, 95.0)
('Reactions', 45.0, 81.0)
('Balance', 32.0, 96.0)
('Dribbling', 35.0, 86.0)
('FKAccuracy', 20.0, 92.0)
('LongPassing', 26.0, 93.0)
('Crossing', 22.0, 94.0)
('Finishing', 21.0, 88.0)
('Volleys', 17.0, 90.0)

CB

In [52]:
# 6
print(('StandingTackle',df_CB['StandingTackle'].min(), df_CB['StandingTackle'].max()))
print(('Aggression',df_CB['Aggression'].min(), df_CB['Aggression'].max()))
print(('Positioning',df_CB['Positioning'].min(), df_CB['Positioning'].max()))
print(('Vision',df_CB['Vision'].min(), df_CB['Vision'].max()))
print(('Penalties',df_CB['Penalties'].min(), df_CB['Penalties'].max()))
print(('Composure',df_CB['Composure'].min(), df_CB['Composure'].max()))

('StandingTackle', 43.0, 92.0)
('Aggression', 28.0, 95.0)
('Positioning', 12.0, 86.0)
('Vision', 25.0, 87.0)
('Penalties', 13.0, 92.0)
('Composure', 35.0, 84.0)

GK

In [53]:
# 6
print(('GKReflexes',df_GK['GKReflexes'].min(), df_GK['GKReflexes'].max()))
print(('ShotPower',df_GK['ShotPower'].min(), df_GK['ShotPower'].max()))
print(('Jumping',df_GK['Jumping'].min(), df_GK['Jumping'].max()))
print(('Stamina',df_GK['Stamina'].min(), df_GK['Stamina'].max()))
print(('Strength',df_GK['Strength'].min(), df_GK['Strength'].max()))
print(('LongShots',df_GK['LongShots'].min(), df_GK['LongShots'].max()))

('GKReflexes', 16.0, 90.0)
('ShotPower', 29.0, 70.0)
('Jumping', 22.0, 84.0)
('Stamina', 13.0, 45.0)
('Strength', 24.0, 85.0)
('LongShots', 4.0, 45.0)

In [54]:
position = "ST"
algor = 'kmeans'
if position == "ST": 
  result = recommend_ST('kmeans', StandingTackle = 20)
result

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness,GeneralPosition,cluster_KMeans,cluster_Hierarchical
1264,194925,L. Moult,29,England,66,66,Burton Albion,€850K,€3K,1687,...,10.0,15.0,13.0,ST,66.0,€1.5M,45.0,ST,1,1
829,192663,F. Klos,33,Germany,73,73,DSC Arminia Bielefeld,€1.9M,€22K,1763,...,7.0,7.0,13.0,ST,73.0,€3.4M,45.0,ST,1,1
1415,190664,21 J. Schieber,31,Germany,68,68,FC Augsburg,€1M,€12K,1662,...,15.0,12.0,7.0,ST,68.0,€1.8M,29.0,ST,1,1
1625,241850,M. Retegui,22,Argentina,69,77,Club Atlético Talleres,€3.2M,€7K,1625,...,9.0,13.0,9.0,ST,71.0,€5.4M,34.0,ST,1,1
1322,171982,21 C. Andrew,33,England,60,60,Barrow,€160K,€2K,1679,...,10.0,10.0,12.0,ST,60.0,€280K,55.0,ST,1,1
1698,165185,20 C. Davies,33,Wales,62,62,Mansfield Town,€190K,€4K,1610,...,6.0,11.0,14.0,ST,62.0,€333K,44.0,ST,1,1
2145,241984,C. Burke,29,Jamaica,68,68,Philadelphia Union,€1.2M,€4K,1518,...,9.0,11.0,8.0,ST,68.0,€1.8M,23.0,ST,1,1
1332,163340,21 D. Graham,34,England,65,65,Sunderland,€350K,€4K,1677,...,14.0,13.0,7.0,ST,65.0,€613K,48.0,ST,1,1
2098,263791,Ricardinho,20,Brazil,65,75,Clube Sport Marítimo,€1.6M,€2K,1528,...,6.0,12.0,7.0,ST,67.0,€3.7M,13.0,ST,1,1
2372,264346,D. Lemajić,27,Serbia,64,64,KAA Gent,€625K,€6K,1458,...,6.0,10.0,12.0,ST,64.0,€938K,21.0,ST,1,1

In [55]:
position = "ST"
if position == "ST": 
  result = recommend_ST('hierarchical')
result

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness,GeneralPosition,cluster_KMeans,cluster_Hierarchical
123,216700,M. Meza,28,Argentina,76,76,CF Monterrey,€7.5M,€49K,1975,...,15.0,12.0,11.0,RW,76.0,€12M,60.0,ST,3,3
130,153177,21 M. Zárate,33,Argentina,75,75,Boca Juniors,€3.6M,€18K,1972,...,15.0,6.0,12.0,ST,77.0,€5M,50.0,ST,3,3
57,213013,F. Acheampong,27,Ghana,77,77,Shenzhen FC,€11M,€15K,2050,...,10.0,15.0,13.0,LW,77.0,€17.1M,40.0,ST,3,3
52,220883,R. Borré,25,Colombia,78,81,Eintracht Frankfurt,€19M,€32K,2056,...,14.0,11.0,8.0,ST,80.0,€33.7M,44.0,ST,3,3
161,202858,F. Castillo,29,Colombia,75,75,Fútbol Club Juárez,€5.5M,€13K,1958,...,15.0,8.0,7.0,RW,77.0,€9.4M,38.0,ST,3,3
111,231447,D. Malen,22,Netherlands,80,85,Borussia Dortmund,€33M,€59K,1986,...,9.0,10.0,14.0,ST,82.0,€58.6M,27.0,ST,3,3
339,184176,G. Bruno,29,Belgium,73,73,KAA Gent,€3M,€21K,1878,...,13.0,15.0,6.0,ST,73.0,€4.5M,38.0,ST,3,3
251,210617,Samu Castillejo,26,Spain,77,77,AC Milan,€11.5M,€41K,1912,...,15.0,8.0,14.0,RW,77.0,€19.6M,45.0,ST,3,3
94,224510,W. Bou,27,Argentina,75,75,Defensa y Justicia,€6M,€17K,2001,...,12.0,11.0,12.0,ST,75.0,€9M,29.0,ST,3,3
27,184200,M. Arnautović,32,Austria,81,81,Bologna,€21M,€48K,2113,...,10.0,10.0,15.0,ST,81.0,€35.7M,40.0,ST,3,3

In [56]:
position = "CM"
if position == "CM": 
  result = recommend_CM('kmeans')
result

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness,GeneralPosition,cluster_KMeans,cluster_Hierarchical
2392,244565,E. Erhahon,20,Scotland,66,76,St. Mirren,€1.9M,€2K,1806,...,13.0,12.0,7.0,CM,68.0,€3.7M,62.0,CM,2,2
4322,239835,V. Mpindi Ekani,24,Cameroon,66,71,SønderjyskE,€1.2M,€3K,1641,...,14.0,13.0,9.0,CDM,67.0,€1.6M,61.0,CM,2,2
906,210374,J. Vigón,29,Mexico,73,73,Tigres U.A.N.L.,€3M,€36K,1946,...,14.0,10.0,10.0,CM,73.0,€4.8M,62.0,CM,2,2
1302,222844,Walace,26,Brazil,73,75,Udinese Calcio,€3.4M,€13K,1901,...,7.0,14.0,11.0,CDM,74.0,€6.4M,70.0,CM,2,2
2114,237109,O. Karavaev,29,Ukraine,73,73,Dynamo Kyiv,€3M,€900,1828,...,14.0,13.0,13.0,RM,73.0,€6.6M,59.0,CM,2,2
4058,246310,C. Cappis,21,United States,63,74,Brøndby IF,€1.1M,€2K,1668,...,11.0,12.0,5.0,CM,65.0,€1.6M,55.0,CM,2,2
3901,237721,A. Al Khaibari,24,Saudi Arabia,66,73,Al Nassr,€1.6M,€8K,1683,...,15.0,9.0,12.0,CDM,67.0,€3M,64.0,CM,2,2
2434,246255,D. Kulikov,23,Russia,70,79,FC Lokomotiv Moscow,€3.3M,€19K,1803,...,7.0,7.0,7.0,CDM,71.0,€5.9M,72.0,CM,2,2
2891,239498,B. Henning,26,Germany,66,68,Eintracht Braunschweig,€1.1M,€2K,1769,...,14.0,6.0,9.0,CDM,69.0,€1.7M,63.0,CM,2,2
2747,211671,J. Radošević,27,Croatia,68,70,Brøndby IF,€1.3M,€6K,1778,...,9.0,10.0,12.0,CDM,69.0,€1.7M,65.0,CM,2,2

In [57]:
position = "CM"
if position == "CM": 
  result = recommend_CM('hierarchical')
result

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness,GeneralPosition,cluster_KMeans,cluster_Hierarchical
3668,225053,L. Rose,24,Australia,63,72,Macarthur FC,€1M,€900,1706,...,7.0,6.0,14.0,CDM,64.0,€1.5M,59.0,CM,2,2
1447,222405,L. Kinsella,25,Republic of Ireland,64,67,Walsall,€775K,€4K,1887,...,15.0,8.0,10.0,CDM,69.0,€1.4M,64.0,CM,2,2
3136,260158,T. Lacoux,19,France,67,77,FC Girondins de Bordeaux,€2.1M,€4K,1752,...,6.0,9.0,6.0,CM,69.0,€4.6M,62.0,CM,2,2
4689,263155,B. Klefisch,18,Germany,58,75,RB Leipzig,€525K,€3K,1599,...,8.0,12.0,6.0,CDM,62.0,€1.2M,56.0,CM,2,2
1449,224336,T. Romanczuk,29,Poland,69,69,Jagiellonia Białystok,€1.2M,€5K,1887,...,12.0,8.0,9.0,CDM,69.0,€1.6M,71.0,CM,2,2
2057,241931,F. Moyano,23,Argentina,69,74,Argentinos Juniors,€2.1M,€6K,1833,...,13.0,14.0,15.0,CM,71.0,€3.3M,65.0,CM,2,2
1974,188601,A. Coeff,29,France,68,69,AJ Auxerre,€1.1M,€3K,1839,...,15.0,11.0,6.0,CDM,70.0,€2.1M,61.0,CM,2,2
2905,232928,Y. Matsushita,27,Japan,65,67,Vegalta Sendai,€775K,€2K,1768,...,6.0,5.0,9.0,LM,68.0,€1M,63.0,CM,2,2
3704,258289,J. Sforza,19,Argentina,65,82,Newell's Old Boys,€1.8M,€2K,1702,...,11.0,13.0,12.0,CM,67.0,€3.8M,56.0,CM,2,2
2204,244895,A. Yusuf,20,Nigeria,70,83,Royal Antwerp FC,€3.6M,€8K,1820,...,6.0,7.0,9.0,CDM,71.0,€7.7M,66.0,CM,2,2

In [58]:
position = "CB"
if position == "CB": 
  result = recommend_CB('kmeans', StandingTackle =91,	Aggression =92,	Positioning = 82,	Vision = 83,	Penalties = 92, Composure = 84) # 
result

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness,GeneralPosition,cluster_KMeans,cluster_Hierarchical
1743,238636,R. Preißinger,24,Germany,64,69,FC Ingolstadt 04,€800K,€4K,1726,...,11.0,9.0,12.0,LWB,66.0,€1.3M,58.0,CB,0,0
1099,254258,Nilton Varela,20,Portugal,68,77,Belenenses SAD,€2.5M,€2K,1803,...,11.0,10.0,14.0,LWB,68.0,€5.8M,64.0,CB,0,0
1560,244950,J. Rodríguez,27,Argentina,73,74,Defensa y Justicia,€3.1M,€12K,1744,...,12.0,7.0,8.0,CB,74.0,€4.9M,71.0,CB,0,0
1228,213537,20 B. Sarr,28,Senegal,71,71,Damac FC,€2.1M,€13K,1784,...,15.0,9.0,10.0,CB,70.0,€3.5M,65.0,CB,0,0
1163,224891,Rafael Ramos,26,Portugal,70,73,Santa Clara,€1.9M,€4K,1795,...,8.0,14.0,8.0,RB,70.0,€4.1M,68.0,CB,0,0
391,235565,D. Bronn,26,Tunisia,75,78,FC Metz,€6.5M,€17K,1933,...,9.0,7.0,9.0,CB,77.0,€13.5M,76.0,CB,0,0
1358,229605,C. Connolly,23,England,66,71,Blackpool,€1.2M,€3K,1768,...,15.0,7.0,14.0,CB,68.0,€2.3M,64.0,CB,0,0
2707,241031,F. Garcés,21,Argentina,72,79,Club Atlético Colón,€4.4M,€7K,1617,...,9.0,12.0,13.0,CB,74.0,€7.5M,75.0,CB,0,0
302,230189,Silas Almeim,29,Brazil,76,76,Ceará Sporting Club,€6.5M,€14K,1966,...,15.0,9.0,11.0,LB,76.0,€12.4M,73.0,CB,0,0
1696,166841,N. Adams,34,Wales,64,64,Oldham Athletic,€210K,€3K,1730,...,7.0,7.0,8.0,RWB,64.0,€368K,56.0,CB,0,0

In [59]:
position = "CB"
if position == "CB": 
  result = recommend_CB('hierarchical')
result

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness,GeneralPosition,cluster_KMeans,cluster_Hierarchical
234,205364,F. Novák,31,Czech Republic,74,74,Fenerbahçe SK,€3.1M,€35K,1985,...,14.0,10.0,7.0,LB,74.0,€5.9M,70.0,CB,0,0
714,247150,A. Vigo,22,Argentina,73,81,River Plate,€6.5M,€11K,1867,...,14.0,14.0,13.0,RB,73.0,€10.4M,66.0,CB,0,0
301,202335,E. Dier,27,England,79,80,Tottenham Hotspur,€17.5M,€81K,1966,...,6.0,13.0,9.0,CB,80.0,€34.6M,77.0,CB,0,0
1671,224447,G. Jones,25,Wales,65,68,Bolton Wanderers,€875K,€3K,1733,...,13.0,15.0,12.0,RB,65.0,€1.6M,56.0,CB,0,0
1918,229401,21 N. Mason,23,England,65,71,Peterborough United,€1.1M,€3K,1703,...,6.0,9.0,11.0,RB,65.0,€2.1M,63.0,CB,0,0
228,210455,Jonny,27,Spain,80,81,Wolverhampton Wanderers,€22M,€81K,1987,...,12.0,10.0,6.0,LWB,80.0,€43.5M,79.0,CB,0,0
2279,212736,B. Kwiecień,27,Poland,64,67,Jagiellonia Białystok,€675K,€2K,1664,...,10.0,12.0,14.0,CB,67.0,€962K,56.0,CB,0,0
290,230381,Kaimo Lima,25,Brazil,74,74,Fluminense,€4.1M,€18K,1968,...,9.0,10.0,12.0,CB,74.0,€7.8M,74.0,CB,0,0
1303,172685,José Crespo,34,Spain,72,72,PAOK,€750K,€950,1774,...,11.0,5.0,11.0,CB,72.0,€1.7M,73.0,CB,0,0
260,212218,A. Laporte,27,Spain,82,86,Manchester City,€77M,€185K,1976,...,5.0,14.0,5.0,CB,84.0,€148.2M,86.0,CB,0,0

In [60]:
position = "GK"
if position == "GK": 
  result = recommend_GK('kmeans')
result

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness,GeneralPosition,cluster_KMeans,cluster_Hierarchical
2289,140420,B. Murphy,38,Republic of Ireland,61,61,Waterford FC,€35K,€500,1031,...,55.0,62.0,58.0,GK,61.0,€54K,13.0,GK,0,0
2509,245359,C. Moreno,23,Mexico,59,68,Pachuca,€425K,€2K,933,...,58.0,55.0,62.0,GK,59.0,€808K,7.0,GK,0,0
1806,191655,Kim Seung Gyu,30,Korea Republic,69,69,Kashiwa Reysol,€925K,€4K,1166,...,67.0,68.0,72.0,GK,69.0,€1.2M,15.0,GK,0,0
1892,191628,21 L. Chichizola,30,Argentina,71,71,FC Cartagena,€1.2M,€5K,1145,...,67.0,69.0,72.0,GK,71.0,€1.9M,15.0,GK,0,0
1582,232229,J. Bijlow,23,Netherlands,78,86,Feyenoord,€27M,€8K,1231,...,77.0,74.0,80.0,GK,78.0,€45.9M,16.0,GK,0,0
2481,236867,L. Dias,22,France,63,71,Nîmes Olympique,€925K,€1K,947,...,59.0,61.0,63.0,GK,63.0,€1.9M,11.0,GK,0,0
2111,146637,21 Dani Giménez,36,Spain,69,69,UD Logroñés,€150K,€2K,1088,...,65.0,65.0,73.0,GK,69.0,€233K,15.0,GK,0,0
2095,250804,J. Walsh,19,England,55,72,Queens Park Rangers,€300K,€800,1090,...,61.0,51.0,59.0,GK,55.0,€758K,15.0,GK,0,0
1502,223573,Munir,32,Morocco,73,73,Atakaş Hatayspor,€1.5M,€9K,1264,...,68.0,70.0,75.0,GK,73.0,€3M,15.0,GK,0,0
2565,251298,O. Hanin,23,Israel,58,65,1. FSV Mainz 05,€350K,€2K,912,...,54.0,55.0,63.0,GK,58.0,€700K,13.0,GK,0,0

In [61]:
position = "GK"
if position == "GK": 
  result = recommend_GK('hierarchical')
result

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness,GeneralPosition,cluster_KMeans,cluster_Hierarchical
1860,192922,O. Jiménez,32,Mexico,73,73,Club América,€1.5M,€26K,1153,...,68.0,72.0,73.0,GK,73.0,€2.6M,15.0,GK,0,0
2004,236758,O. Christensen,22,Denmark,70,78,Hertha BSC,€3.1M,€14K,1116,...,63.0,68.0,71.0,GK,70.0,€5.9M,14.0,GK,0,0
1746,210923,M. Al Owais,29,Saudi Arabia,70,70,Al Ahli,€1.1M,€16K,1182,...,56.0,68.0,74.0,GK,70.0,€1.8M,13.0,GK,0,0
1777,221531,M. Maroši,27,Slovakia,67,70,Shrewsbury Town,€1M,€3K,1173,...,66.0,66.0,69.0,GK,67.0,€1.8M,16.0,GK,0,0
2485,255236,M. Bakker,20,Netherlands,62,74,AZ Alkmaar,€850K,€1K,946,...,62.0,57.0,62.0,GK,62.0,€1.4M,6.0,GK,0,0
1403,199005,M. Ryan,29,Australia,77,79,Real Sociedad,€8.5M,€25K,1354,...,82.0,76.0,79.0,GK,77.0,€18.5M,10.0,GK,0,0
2078,200466,V. Eicher,30,Germany,67,67,1. FC Heidenheim 1846,€675K,€6K,1095,...,61.0,67.0,69.0,GK,67.0,€1.1M,13.0,GK,0,0
2124,226423,N. Gartside,23,Northern Ireland,58,68,Derry City,€400K,€500,1083,...,56.0,56.0,59.0,GK,58.0,€700K,16.0,GK,0,0
1436,164853,A. Federici,36,Australia,70,70,Macarthur FC,€180K,€2K,1310,...,76.0,70.0,67.0,GK,70.0,€225K,27.0,GK,0,0
1835,214373,A. Silva,37,Paraguay,71,71,Puebla FC,€210K,€3K,1159,...,64.0,70.0,71.0,GK,71.0,€347K,15.0,GK,0,0